*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@keyframes backgroundColorChange {
  0% {
    background-color: #ff9a9e; /* Starting color */
  }
  25% {
    background-color: #fad0c4; /* Intermediate color */
  }
  50% {
    background-color: #fbc2eb; /* Intermediate color */
  }
  75% {
    background-color: #a18cd1; /* Intermediate color */
  }
  100% {
    background-color: #ff9a9e; /* Ending color */
  }
}



body{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  /* overflow-y: hidden; */
  background-color: rgb(226, 220, 215);
}


.button {
  padding: 12px 24px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  animation: backgroundColorChange 10s linear infinite; 
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.button:active {
  transform: scale(0.9);
  color: #fff;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}

.button--primary {
  background-color: #333;
  color: #52f2b5;
}

.button--secondary {
  background-color: #fff;
  color: #fff;
  border: 1px solid #333;
}

.button--small {
  padding: 0.35rem 0.5rem;
  font-size: 0.8rem;
}

.button--large {
  padding: 0.6rem 1rem;
  font-size: 1rem;
}


