*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@keyframes backgroundColorChange {
  0% {
    background-color: #ff9a9e; /* Starting color */
  }
  25% {
    background-color: #fad0c4; /* Intermediate color */
  }
  50% {
    background-color: #fbc2eb; /* Intermediate color */
  }
  75% {
    background-color: #a18cd1; /* Intermediate color */
  }
  100% {
    background-color: #ff9a9e; /* Ending color */
  }
}



body{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  /* overflow-y: hidden; */
  background-color: rgba(5, 30, 52, 0.944);
}
